.DS_Store
.vscode/
build/
CMakeFiles/
Testing/
CTestTestfile.cmake
cmake_install.cmake
CMakeCache.txt
Makefile
.ninja_deps
.ninja_log
build.ninja
species_sim
mutations_sim
descendants_builder
tissue_sampler
build_context_index
build_repetition_index
sample_context_index
RACES.so
RACES.dll
libRACES.*
include/indicators.hpp
include/variables.hpp
*.cpython*.pyc
tests/test_*
tests/assets/v3.3_SBS3_PROFILE.txt
cell_file_info.txt
cells_*.dat
snapshot_*-*.dat
samples.list
samples.dat
*.cif
*.sam
*.bam
*.csv
*.jpg
*.xml
*.pdf
*.txt
*.fna
*.fasta
*.fa
docs/*
