.DS_Store
.vscode/
build/
CMakeFiles/
Testing/
CTestTestfile.cmake
cmake_install.cmake
CMakeCache.txt
Makefile
.ninja_deps
.ninja_log
build.ninja
drivers_sim
races_phylo
build_context_index
sample_context_index
RACES.so
RACES.dll
libRACES.*
include/indicators.hpp
*.cpython*.pyc
*.cif
tests/test_*
tests/assets/v3.3_SBS3_PROFILE.txt
